{% extends "frontend/base.html" %}
{% block content %}
	
	<div class="container">
		<div class="row">
			{% for offer in special_offers %}
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<h4><a href="{% url 'product_page_front' offer.product_name %}">{{offer.product_name}}</a></h4>
				<img src="{{offer.image.url}}" style="width:220px; height:220px:" class="img-circle">
				<div>{{offer.description}}</div>
				{{offer.price}}
			</div>
			{% endfor %}
		</div>

	</div>
		
	
{% endblock %}