<!Doctype html>
<html lang="ru">
<head>
	<link rel="stylesheet" type="text/css" href="">
	<title></title>
</head>
<body>
	<div id = "nav-bar">
		<ul>
			<li><a href="">All products</a></li>
			<li><a href=""></a>Add new product</li>
			<li><a href="">Articles</a></li>
			<li><a href=""></a>Add new article</li>
			<li><a href="">Recipies</a></li>
			<li><a href="">Add new recipy</a></li>
			<li><a href="">View all orders</a></li>
			<li><a href="">View statistics</a></li>			
		</ul>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
<div id="footer">
	
</div>
</html>